body {
  background: #f3f3f9;
}

button {
  cursor: pointer;
}

.home-div {
  display: flex;
  align-items: flex-start;
  margin: 0px 72px 0 0;
}

.top-heading-div {
  width: -webkit-fill-available;
  height: 40px;
  flex-shrink: 0;
  border-top: 1px solid #d8d2de;
  border-bottom: 1px solid #d8d2de;
  background: var(--Blue10, rgba(60, 30, 90, 0.1));
}

.side-bar {
  width: 72px;
  height: 100vh;
  flex-shrink: 0;
  background: #391e5a;
}

.input-div {
  margin: 40px 56px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-div input {
  padding: 0 0 0 11px;
  width: 300px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #e4e4ee;
  background: #fff;
}

.input-div button {
  display: inline-flex;
  padding: 8px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e4e4ee;
  background: #391e5a;
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.add-svg {
  width: 16px;
  height: 16px;
  stroke-width: 1.667px;
}

.edit {
  width: 16px;
  height: 16px;
  fill: #000;
  margin-right: 0.5rem;
  cursor: pointer;
}

.trash {
  width: 14px;
  height: 16px;
  color: #3c1e5a;
  cursor: pointer;
}

.user-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 56px 0 0;
  height: inherit;
  gap: 1rem;
}

.user-div span {
  font-size: x-large;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 2532px) {
  .home-div {
    margin: 0;
  }

  .user-div {
    margin: 0 20px 0 0;
    gap: 1.5rem;
  }

  .user-div span {
    font-size: 2rem;
  }

  .input-div {
    margin: 40px 20px 0 20px;
  }

  .input-div button {
    font-size: unset;
  }

  .input-div input {
    width: 270px;
    font-size: medium;
  }

  .side-bar {
    display: none;
  }

  .top-heading-div {
    height: 65px;
  }
}
